.calculator{
    width: 400px;
    height: 600px;
    background-color: grey;
    margin-left: 400px;
    padding-top: 30px;
}
.output{
    width:320px;
    height: 40px;
    background-color: beige;
    margin-left:40px;
    margin-right:40px;
    margin-bottom: 20px;
    
}
#screen{
    width:320px;
    height: 40px;
    background-color: beige;
    text-align: right;
}
.row{
    margin-left: 40px;
    margin-top: 40px; 
}
.btn{
    height:45px;
    width:55px;
    margin-left: 20px;
    margin-top: 40px;
    border-color: antiquewhite;
    
}